<p id="notice"><%= notice %></p>

<% if policy(@kids_pools).index? %>

<h1>Listing Customers</h1>

  <tbody>
    <% @kids_pools.each do |kids_pool| %>
      <tr>
        <h4>Id User:</h4>
        <td><%= kids_pool.idUser %></td><br>
        <td><%= link_to 'Show', kids_pool %></td>
        <td><%= link_to 'Edit', edit_kids_pool_path(kids_pool) %></td>
        <td><%= link_to 'Destroy', kids_pool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <br/><hr />
    <% end %>
  </tbody>
</table>

<br>

<% else %>

<h3><%= link_to 'Register in this area', new_kids_pool_path %></h3>

<% end %>

<center>
  <img class="img-responsive img-centered" src="img/kidpool.jpg" alt="">
</center>
