
<h1>Listing Contacts</h1>

<% if policy(@contatos).index? %>


  <tbody>
    <% @contatos.each do |contato| %>
      <tr>
        <h4>Name</h4>
        <td><%= contato.name %></td>
        <h4>Email</h4>
        <td><%= contato.email %></td>
        <h4>Message</h4>
        <td><%= contato.message %></td><br>
        <td><%= link_to 'Show', contato %></td>
        <td><%= link_to 'Edit', edit_contato_path(contato) %></td>
        <td><%= link_to 'Destroy', contato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% else %>

<h1>have you a suggestion?have you a complaint?Write here.</h1>
<h4></li><%= link_to "Write now", new_contato_path %></li><br></h4>

<% end %>