<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contato.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contato.email %>
</p>

<p>
  <strong>Message:</strong>
  <%= @contato.message %>
</p>

<%= link_to 'Edit', edit_contato_path(@contato) %> |
<%= link_to 'Back', contatos_path %>
