<%= form_for(@adult_pool) do |f| %>
  <% if @adult_pool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adult_pool.errors.count, "error") %> prohibited this adult_pool from being saved:</h2>

      <ul>
      <% @adult_pool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :idUser %><br>
    <%= f.text_field :idUser %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
