<p id="notice"><%= notice %></p>

<% if policy(@adult_pools).index? %>

<% if policy(@adult_pools).index2? %>

<h1>Listing customers</h1>

  <tbody>
    <% @adult_pools.each do |adult_pool| %>
      <tr>
        <h4>Id user:</h4><br>
        <td><%= adult_pool.idUser %></td><br>
        <td><%= link_to 'Show', adult_pool %></td>
        <td><%= link_to 'Edit', edit_adult_pool_path(adult_pool) %></td>
        <td><%= link_to 'Destroy', adult_pool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <br/><hr />
    <% end %>
  </tbody>
</table>

<br>
<% else %>

<h3><%= link_to 'Register in this area', new_adult_pool_path %></h3>

<% end %>

<% else %>

        <h1>This service is available only to those over 18 years old</h1>
        

<% end %>

<center>
  <img class="img-responsive img-centered" src="img/adultpool.jpg" alt="">
</center>