<p id="notice"><%= notice %></p>

<% if policy(@courts).index? %>

<h1>Listing Courts</h1>

  <tbody>
    <% @courts.each do |court| %>
      <tr>
        <h4>Id User:</h4>
        <td><%= court.idUser %></td><br>
        <td><%= link_to 'Show', court %></td>
        <td><%= link_to 'Edit', edit_court_path(court) %></td>
        <td><%= link_to 'Destroy', court, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <br/><hr />
    <% end %>
  </tbody>
</table>

<br>

<% else %>

<h3><%= link_to 'Register in this area', new_court_path %></h3>

<% end %>


<center>
  <img class="img-responsive img-centered" src="img/court.jpg" alt="">
</center>