<ul>
	<h2></li><%= link_to "Adult pool", adult_pools_path %></li><br>
	</li><%= link_to "Kids pool", kids_pools_path %></li><br>
	</li><%= link_to "Sauna", saunas_path %></li><br>
	</li><%= link_to "Gym", gyms_path %></li><br>
	</li><%= link_to "Court", courts_path %></li></h2>
</ul>