
<% if policy(@barbecue_grills).index? %>

<h1>Barbecue Grills</h1>
<h3>Listing reserves</h3><br>
  <tbody>
    <% @barbecue_grills.each do |barbecue_grill| %>
      <tr>
        <h4>Date:</h4>
        <td><%= barbecue_grill.date %></td><br>
        <h4>Id User:</h4>
        <td><%= barbecue_grill.idUser %></td><br>
        <td><%= link_to 'Show', barbecue_grill %></td>
        <td><%= link_to 'Edit', edit_barbecue_grill_path(barbecue_grill) %></td>
        <td><%= link_to 'Destroy', barbecue_grill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <br/><hr />
    <% end %>
  </tbody>
</table>

<br>

<h3><%= link_to 'New reserve', new_barbecue_grill_path %></h3>

<% else %>

<h1>This service is available only to those over 18 years old</h1>
        
<% end %>

<center>
  <img class="img-responsive img-centered" src="img/barbecuegrill.jpg" alt="">
</center>
