<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @barbecue_grill.date %>
</p>

<p>
  <strong>Iduser:</strong>
  <%= @barbecue_grill.idUser %>
</p>

<%= link_to 'Edit', edit_barbecue_grill_path(@barbecue_grill) %> |
<%= link_to 'Back', barbecue_grills_path %>
