<%= form_for(@assembly_room) do |f| %>
  <% if @assembly_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assembly_room.errors.count, "error") %> prohibited this assembly_room from being saved:</h2>

      <ul>
      <% @assembly_room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %> 
  </div>
  <div class="field">
    <%= f.label :idUser %><br>
    <%= f.text_field :idUser %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
