
<% if policy(@assembly_rooms).index? %>

<h1>Assembly room</h1>
<h3>Listing reserves</h3><br>

  <tbody>
    <% @assembly_rooms.each do |assembly_room| %>
      <tr>
        <h4>Date:</h4>
        <td><%= assembly_room.date %></td>
        <h4>Id User:</h4>
        <td><%= assembly_room.idUser %></td><br>
        <td><%= link_to 'Show', assembly_room %></td>
        <td><%= link_to 'Edit', edit_assembly_room_path(assembly_room) %></td>
        <td><%= link_to 'Destroy', assembly_room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <br/><hr />
    <% end %>
  </tbody>
</table>

<br>

<h3><%= link_to 'New reserve', new_assembly_room_path %></h3>


<% else %>

       <h1>This service is available only to those over 18 years old</h1>

<% end %>

<center>
  <img class="img-responsive img-centered" src="img/assemblyroom.jpg" alt="">
</center>