<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @assembly_room.date %>
</p>

<p>
  <strong>Iduser:</strong>
  <%= @assembly_room.idUser %>
</p>

<%= link_to 'Edit', edit_assembly_room_path(@assembly_room) %> |
<%= link_to 'Back', assembly_rooms_path %>
