<h1>Please, select the service </h1>
<ul>
	<h3> Register your id in the areas of resort you want to use:</h3>
	<h3></li><%= link_to "Choose an area", choice_path %></li><br></h3>
	<h3> Reserves:</h3>
	<h3></li><%= link_to "Choose a service", reserve_path %></li><br></h3>
</ul>