<% if user_signed_in? %>
<h1>Hello <%=current_user.email%></h1>

<ul>
	<h4></li><%= link_to "Options", option_path %></li><br>
	</li><%= link_to "Contact", contatos_path %></li><br>
	</li><%= link_to "Edit account", edit_user_registration_path %></li><br>
	</li><%= link_to "Exit", destroy_user_session_path, method: :delete %></li><br></h4>
								


</ul>

<% else %>

<h1>Welcome</h1>
<ul>
	<h4><li><%= link_to "Not registered yet? register here", new_user_registration_path %></li>
	<li><%= link_to "Login", new_user_session_path %></li>
	<li><%= link_to "Contact", contatos_path %></li><br></h4>
</ul>

<% end %>