<p id="notice"><%= notice %></p>

<% if policy(@gyms).index? %>

<% if policy(@gyms).index2? %>

<h1>Listing Customers</h1>

  <tbody>
    <% @gyms.each do |gym| %>
      <tr>
        <h4>Id User:</h4>
        <td><%= gym.idUser %></td><br>
        <td><%= link_to 'Show', gym %></td>
        <td><%= link_to 'Edit', edit_gym_path(gym) %></td>
        <td><%= link_to 'Destroy', gym, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <br/><hr />
    <% end %>
  </tbody>
</table>

<br>
<% else %>

<h3><%= link_to 'Register in this area', new_gym_path %></h3>

<% end %>

<% else %>

<h1>This service is available only to those over 15 years old</h1>
        

<% end %>

<center>
  <img class="img-responsive img-centered" src="img/gym.jpeg" alt="">
</center>