<h1>Listing Notices</h1> 

<% if policy(@posts).index? %>

  <tbody>

    <% for post in @posts.reverse %>
      <tr> 
        <h3><%= link_to post.tittle, post %></h3>
        <h5><%= post.data.to_s(:long) %></h5>
        <p><%= post.tittle %></p>
        
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <tr/>   
        <br/><hr />

    <% end %>
<br>

<%= link_to 'New Post', new_post_path %>

<% else %>

    <% for post in @posts.reverse %>
      <tr> 

        <h2><%= post.tittle %></h2>
        <h5><%= post.data.to_s(:long) %></h5>
        <p><%= post.tittle %></p>
        <h4><%= post.content %></h4>
        
    <tr/>   
        <br/><hr />

    <% end %>

<% end %>
