/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	background-size: cover;
	background-image: url("resort.jpg");

}
h1 {
	color: white;
}
h3 {
	color: white;
}
h4{
	color: black;
}
<STYLE type="text/css">
	A:link {text-decoration:none;color:lightblue;}
	A:visited {text-decoration:none;color:darkblue;}
	A:active {text-decoration:none;color:white;}
	A:hover {text-decoration:underline;color:blue;}
</STYLE> 