<p id="notice"><%= notice %></p>

<% if policy(@saunas).index? %>

<% if policy(@saunas).index2? %>

<h1>Listing Customers</h1>

  <tbody>
    <% @saunas.each do |sauna| %>
      <tr>
        <h4>Id User:</h4>
        <td><%= sauna.idUser %></td><br>
        <td><%= link_to 'Show', sauna %></td>
        <td><%= link_to 'Edit', edit_sauna_path(sauna) %></td>
        <td><%= link_to 'Destroy', sauna, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <br/><hr />
    <% end %>
  </tbody>
</table>

<br>

<% else %>

<h3><%= link_to 'Register in this area', new_sauna_path %></h3>

<% end %>

<% else %>

<h1>This service is available only to those over 15 years old</h1>
        
<% end %>

<center>
  <img class="img-responsive img-centered" src="img/sauna.jpg" alt="">
</center>