<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Appresort" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">AppResort</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", "/"  %></li>
            <li><%= link_to "Login", "/users/sign_in"  %></li>
            <li><%= link_to "Register", "/users/sign_up"  %></li>
            <li><%= link_to "Logout", "/users/sign_out", method: :delete  %></li>
            <li><%= link_to "Options", "/option"  %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>

        <div class="col-lg-3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
            <h2>Choose an area:</h2>
              <h2></li><%= link_to "Adult pool", adult_pools_path %></li><br>
              </li><%= link_to "Kids pool", kids_pools_path %></li><br>
              </li><%= link_to "Sauna", saunas_path %></li><br>
              </li><%= link_to "Gym", gyms_path %></li><br>
              </li><%= link_to "Court", courts_path %></li>
              </li><%= link_to "Assembly room", assembly_rooms_path %></li><br>
              </li><%= link_to "Barbecue grill", barbecue_grills_path %></li></h2>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav nav-list">
          <h2><li class="nav-header">Talk to us!!</li></h2>
          <h4><li><%= link_to "Contact", "/contatos"  %></li></h4>
          <h4><li><%= link_to "Notices", "/posts"  %></li></h4>         
        </ul>
      </div><!--/.well -->
    </div>

      <footer>
        <p>&copy; Company 2015</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
